@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<br>
<div style=" width:100%; float:left;">
    <h4 style="margin-bottom:-5px;margin-top:-5px;">Club House</h4>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/Club_House_Facility1.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/Club_House_Facility2.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>

</div>

<div style=" width:100%; float:left;">
    <h4 style="margin-bottom:-5px;margin-top:-5px;">Pro Shop</h4>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/ProShop.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The go-to place for every golf enthusiast who takes his game seriously, The Pro Shop is outfitted to cater to the needs of demanding professionals and serious hobbyists alike.</p>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The point of registration for Golfers and their guests, The Pro Shop also provides top of the line rental golf sets and golf shoes that include XXIO, Callway, Titleist and Ping.</p>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The Classic Golf & Country Club Pro shop is stocked with the state-of-the-art golf equipment. A range of Classic souvenirs in the form of apparel and accessories is also available here. The shop also features an array of brands to choose from, such as TaylorMade, Callaway, Srixon, and Mizuno to name a few. Apparel and equipment are available for men, ladies and juniors.</p>

    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>

</div>
<br>
<div style=" width:100%; float:left;">
    <h4 style="margin-bottom:-5px;margin-top:-5px;">Locker Rooms</h4>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/LockerRoom1.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The Locker Rooms at the Classic Golf & Country Club are incomparable.</p>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">Separate locker rooms are available for gentlemen and ladies. Each locker room also features a charming lounge area where the golfers can rest after the round.</p>

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">•	The men’s locker room comprises of 160 individual wooden half-lockers. Amenities include steam, sauna and individual showers.</p>

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">•	The ladies locker room is equipped with individual lockers with steam, sauna facilities.</p>

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">Locker rooms for members are provided at no charge. Attendants also provide a shoe shining service.</p>

    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>

</div>

<br>
<div style=" width:100%; float:left;">
    <h4 style="margin-bottom:-5px;margin-top:-5px;">Restaurant</h4>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/restaurant.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The Club House boasts of two restaurants namely, the ’19th Hole’ and ‘Sandpit’.</p>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">Enticing the golfers to finish their game and take a well-deserved break at the signature restaurants and indulge in quality cuisine.</p>
    <h6 style="margin-bottom:-5px;margin-top:-5px;">19th HOLE</h6>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The members only restaurant is located on the ground floor, this exclusive restaurant and bar serves up the finest spirits from across the globe, along with many a tale of prowess and achievement.</p>
    <h6 style="margin-bottom:-5px;margin-top:-5px;">THE SANDPIT</h6>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">This multi cuisine restaurant and bar serves a selection of the most popular recipes from golf clubs across the country, accompanied by a range of premium beverages.</p>
    <h6 style="margin-bottom:-5px;margin-top:-5px;">VIEWING GALLERY</h6>
    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">The Viewing Gallery overlooks the 18th Green and the 10th Hole Tee</p>

    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>

</div>
<br />
<div style=" width:100%; float:left;">
    <h4 style="margin-bottom:-5px;margin-top:-5px;">Meeting Room</h4>
    <img src="@GolfCentra.Core.Helper.Constants.Url.WebApiUrlWithoutSlash/Upload/StaticPage/MeetingRoom.jpg" style="height:auto;width: 100%;float:right; margin-left:10px; margin-top:10px; margin-bottom:10px;">

    <p style="float:left;width: 100%; font-size:14px; line-height:25px;">Located on the first floor of The Club House is the ‘Albatross’, an exquisite meeting room. Featuring tastefully done décor, with French windows, wooden flooring and chandeliers that provide the perfect ambience to host meetings, the ‘Albatross’ is also the ideal venue for hosting parties for your family and friends. The Albatross can seat up to 40 and has a spillover verandah that overlooks the lush and green golf course and can accommodate another 50 guests. </p>
   
    <p style="float:left;width: 100%; margin-top:0; font-size:10px; line-height:20px;"></p>

</div>

</html>
